<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/Roboto.css?ver=1507202315072023" rel="stylesheet" />
    <title>Document</title>
    <style>
      /* common start*/
      body {
        line-height: 1;
        word-break: break-word;
        letter-spacing: 0 !important;
        color: #000;
        font-family: 'Roboto', Arial, sans-serif;
        font-size: 10px;
      }

      .text-center {
        text-align: center;
      }

      .org_orgname_logo {
        vertical-align: top;
        font-size: 22px;
        font-weight: bold;
        line-height: 30px;
        padding-bottom: 5px;
      }

      .border {
        border-top: 2px solid #0070c0;
        border-right: 2px solid #0070c0;
        border-bottom: 2px solid #0070c0;
        border-left: 2px solid #0070c0;
      }

      .border-top {
        border-top: 2px solid #0070c0;
      }

      .border-right {
        border-right: 2px solid #0070c0;
      }

      .border-bottom {
        border-bottom: 2px solid #0070c0;
      }

      .border-left {
        border-left: 2px solid #0070c0;
      }

      .customerdata_label {
        text-align: middle;
        font-weight: bold;
        border-bottom: 2px solid #0070c0;
        width: 100%;
        text-align: center;
      }

      .td-bold {
        font-weight: bold;
      }

      .td-light {
        font-weight: normal;
      }

      .red-color {
        color: red;
      }

      .padding {
        padding: 5px;
      }

      .padding-top {
        padding-top: 5px;
      }

      .padding-right {
        padding-right: 5px;
      }

      .padding-bottom {
        padding-bottom: 5px;
      }

      .padding-left {
        padding-left: 5px;
      }

      .space-y {
        padding: 5px 0;
      }

      .line-height {
        line-height: 1.3;
      }

      .space-x {
        padding: 0 5px;
      }

      .space {
        padding: 5px;
      }

      .light-bg {
        background-color: #e8f3fd;
      }

      .align-center {
        text-align: center;
      }

      .align-left {
        text-align: left;
      }

      .align-right {
        text-align: right;
      }

      .vertical-top {
        vertical-align: top;
      }

      .vertical-middle {
        vertical-align: middle;
      }

      /* common ends */
      .custom-table,
      .custom-table * {
        box-sizing: border-box;
      }

      .custom-table {
        width: 100%;
        margin: 0 auto;
      }

      /*
        @media (min-width: 1001px) {
            .custom-table {
                width: 1000px;
            }
        } */

      .table-heading {
        text-align: center;
        font-size: 20px;
        color: #0070c0;
        padding: 3px 0;
        font-weight: bold;
      }
      .header-row-left {
        border-left: 2px solid #0070c0;
      }
      .header-row-right {
        border-right: 2px solid #0070c0;
      }
      .header-row {
        border: 2px solid #0070c0;
      }

      .quoteDetailsHead td {
        background-color: #f1f6fa;
        border: 1px solid #0184e1;
        color: black;
        border-collapse: collapse;
        text-align: center;
        font-weight: bold;
        padding: 2px 2px;
        font-size: 12px;
      }
      .quoteDetailsHead2 td {
        background-color: #c3def1;
        text-align: center;
        border: 2px solid #0184e1;
        font-weight: bold;
        /* padding: 2px 2px; */
        font-size: 12px;
      }
      .quoteDetailsHead tr:nth-child(2n) {
        background-color: #e8f3fd;
      }

      .table-top-bar td {
        background-color: #03385f;
        border: 2px solid #0184e1;
        color: #fff;
        border-collapse: collapse;
        text-align: center;
        font-weight: bold;
        padding: 5px 2px;
        font-size: 12px;
      }

      .invoicedataFooter td {
        font-size: 10px;
        /* background-color: #E8F3FD; */
        padding: 5px 1px 5px 0px;
        border-top: 2px solid #0070c0;
        border-left: 2px solid #0070c0;
        border-bottom: 2px solid #0070c0;
      }

      .invoice .main-border {
        border: 2px solid #0070c0;
        padding: 0;
        margin: 0;
      }

      .invoice .header-row {
        vertical-align: middle;
        border-bottom: 2px solid #0070c0;
      }

      .invoice .header .invoice-title {
        text-align: center;
        font-size: 20px;
        color: #0070c0;
        padding: 3px 0;
        font-weight: bold;
      }

      .invoice .header .copyname {
        text-align: right;
        padding-right: 5px;
        font-size: 11px;
        font-weight: bold;
      }

      .invoice .header .gstin {
        padding-left: 5px;
      }

      .invoice .header .gstin span {
        font-weight: bold;
        text-align: left;
      }

      .overall-size-table td {
        border: none;
      }
    </style>
  </head>

  <body>
    <!-- Header top info -->
    <div class="space-y">
      <table cellspacing="0" cellpadding="5" width="100%">
        <tr>
          <td style="font-size: 24px; font-weight: bold" class="align-right">
            <!-- <%= invoiceInfo.billing_company_name %> -->
            DJ College
          </td>
        </tr>
        <col style="width: 100%" />
        <col style="width: 100%" />
        <tr>
          <td>
            <table cellspacing="0" cellpadding="0" width="100%">
              <tr>
                <td class="line-height align-right" style="font-size: 16px">
                  <%= invoiceInfo.billing_company_name %><br />
                  <%= invoiceInfo.billing_company_branch_address_state %><br />
                  <%= invoiceInfo.billing_company_branch_name %><br />
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
    <!-- table header container -->
    <div>
      <table cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td>
            <table cellspacing="0" cellpadding="0" width="100%">
              <tr>
                <td class="table-heading header-row">PURCHASE ORDER</td>
              </tr>
            </table>
            <table cellspacing="0" cellpadding="0" width="100%">
              <col style="width: 40%" />
              <col style="width: 60%" />
              <tr>
                <td
                  class="vertical-top space line-height border-left border-right border-bottom"
                >
                  <table cellspacing="0" cellpadding="0" width="100%">
                    <tr>
                      <td
                        class="td-bold"
                        style="font-size: 15px; padding-bottom: 10px"
                      >
                        Vendor Details :
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="td-bold">Purchase Order No: </span>
                        <span>
                          <%= invoiceInfo.combined_purchase_order_no%>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td class="space-y">
                        <span class="td-bold">Name : </span>
                        <span> <%= invoiceInfo.vendor_name %> </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="td-bold">Address : </span>
                        <span>
                          <%= invoiceInfo.vendor_address_line1 %> <%=
                          invoiceInfo.vendor_address_line2 %> <%=
                          invoiceInfo.vendor_address_city %> <%=
                          invoiceInfo.vendor_address_state %> <%=
                          invoiceInfo.vendor_address_pincode %></span
                        >
                      </td>
                    </tr>
                    <tr>
                      <td class="space-y">
                        <span class="td-bold">Country : </span>
                        <span> <%= invoiceInfo.vendor_address_country %> </span>
                      </td>
                    </tr>
                    <tr>
                      <td class="space-y">
                        <span class="td-bold">GSTIN : </span>
                        <span> <%= invoiceInfo.vendor_gstin %> </span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td
                  class="vertical-top space line-height border-right border-bottom"
                >
                  <table cellspacing="0">
                    <tr>
                      <td>
                        <span class="td-bold">Purchase Order No. :</span>
                        <span>
                          <%= invoiceInfo.combined_purchase_order_no %>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="td-bold">Purchase Order Type :</span>
                        <span> <%= invoiceInfo.purchase_order_type.replace(/_/g, ' ') %> </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="td-bold">Purchase Order Date :</span>
                        <span> <%= invoiceInfo.purchase_order_date.toLocaleDateString('en-US') %> </span>
                      </td>
                    </tr>
                    <tr>
                      <td class="space-y">
                        <span class="td-bold">Shipping Address:</span>
                        <span>
                          <%= invoiceInfo.delivery_address_line1 %> <%=
                          invoiceInfo.delivery_address_line2 %> <%=
                          invoiceInfo.delivery_address_city %> , <%=
                          invoiceInfo.delivery_address_state %> <%=
                          invoiceInfo.delivery_address_country %>- <%=
                          invoiceInfo.delivery_address_pincode %>
                        </span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <br />
          </td>
        </tr>
      </table>
    </div>
    <!-- table body content -->
    <div>
      <table
        class="quoteDetailsHead"
        style="width: 100%"
        cellspacing="0"
        cellpadding="0"
      >
        <col style="width: 5%" />
        <col style="width: 20%" />
        <col style="width: 7%" />
        <col style="width: 7%" />
        <col style="width: 7%" />
        <col style="width: 7%" />
        <col style="width: 7%" />
        <col style="width: 7%" />
        <col style="width: 7%" />
        <col style="width: 7%" />
        <col style="width: 7%" />
        <col style="width: 7%" />
        <tr>
          <td>Sr. No.</td>
          <td>Name of Item / Service</td>
          <td>HSN/SAC</td>
          <td>Qty</td>
          <td>Rate</td>
          <td>Unit</td>
          <td>Taxable Amount</td>
          <td>Tax Rate</td>
          <td>Tax Amount</td>
          <td style="text-align: center">
            <table
              cellspacing="0"
              cellpadding="0"
              class="overall-size-table"
              style="margin: 0 auto; width: 100%"
            >
              <tr>
                <td style="border-bottom: 1px solid #0184e1" colspan="3">
                  Disc
                </td>
              </tr>
              <tr>
                <td style="border-right: 1px solid #0184e1">%</td>
              </tr>
            </table>
          </td>
          <td>Discount Amount</td>
          <td>Total</td>
        </tr>
      </table>
      <table
        cellspacing="0"
        cellpadding="0"
        width="100%"
        class="border-bottom  border-left border-right"
      >
        <col style="width: 5%" />
        <col style="width: 20%" />
        <col style="width: 7%" />
        <col style="width: 7%" />
        <col style="width: 7%" />
        <col style="width: 7%" />
        <col style="width: 7%" />
        <col style="width: 7%" />
        <col style="width: 7%" />
        <col style="width: 7%" />
        <col style="width: 7%" />
        <col style="width: 7%" />

        <% for (let i = 0; i < invoiceInfo?.invoice_items?.length; i++) { %>
        <tr>
          <td class="align-center border-right">
            <p class="space-y"><%= i + 1 %></p>
          </td>
          <td class="align-center border-right">
            <p class="space-y">
              <%= invoiceInfo?.invoice_items[i]?.customer_product_name %>
            </p>
          </td>
          <td class="align-center border-right">
            <p class="space-y">
              <%= invoiceInfo?.invoice_items[i]?.HSN_code %>
            </p>
          </td>
          <td class="align-center border-right">
            <p class="space-y">
              <%= invoiceInfo?.invoice_items[i]?.quantity %>
            </p>
          </td>
          <td class="align-center border-right">
            <p class="space-y">
              <%= invoiceInfo?.invoice_items[i]?.unit_price %>
            </p>
          </td>
          <td class="align-center border-right">
            <p class="space-y"><%= invoiceInfo?.invoice_items[i]?.unit %></p>
          </td>
          <td
            class="align-center border-right"
            style="background-color: #f1f6fa"
          >
            <p class="space-y">
              <%= invoiceInfo?.invoice_items[i]?.taxable_amount %>
            </p>
          </td>
          <td class="align-center border-right">
            <p class="space-y">
              <%= invoiceInfo?.invoice_items[i]?.tax_rate %>
            </p>
          </td>
          <td class="align-center border-right">
            <p class="space-y">
              <%= invoiceInfo?.invoice_items[i]?.tax_amount %>
            </p>
          </td>
          <td class="align-center border-right">
            <p class="space-y">
              <%= invoiceInfo?.invoice_items[i]?.discount %>
            </p>
          </td>
          <td class="align-center border-right">
            <p class="space-y">
              <%= invoiceInfo?.invoice_items[i]?.discount_amount %>
            </p>
          </td>
          <td class="align-center" style="background-color: #f1f6fa">
            <p class="space-y"><%= invoiceInfo?.invoice_items[i]?.total %></p>
          </td>
        </tr>
        <% } %>

      <!-- Empty rows for visual balance -->
      <% for (let j = 0; j < 15; j++) { %>
        <tr>
          <% for (let i = 0; i < 12; i++) { %>
            <% 
              const borderRight = (i !== 11) ? 'border-right' : ''; // Add right border for all except last column
              const bgColor = (i === 6 || i === 11) ? 'style="background-color: #f1f6fa;"' : '';
              const borderLeft = (i === 0) ? 'border-right' : ''; // Add right border on first column (SR No.)
            %>
            <td class="<%= borderRight %> <%= borderLeft %>" <%= bgColor %>>&nbsp;</td>
          <% } %>
        </tr>
      <% } %>
        <!-- Totals row -->
        <% let totalQty = 0, totalRate = 0, totalTaxable = 0, totalTax = 0,
        totalDiscountAmt = 0, overallTotal = 0; for (let i = 0; i <
        invoiceInfo?.invoice_items?.length; i++) { totalQty +=
        parseFloat(invoiceInfo.invoice_items[i]?.quantity || 0); totalRate += parseFloat(
          (invoiceInfo.invoice_items[i]?.unit_price || "0").toString().replace(/,/g, '')
        );
        totalTaxable += parseFloat(
          (invoiceInfo.invoice_items[i]?.taxable_amount || 0).toString().replace(/,/g, '')
        );
                 totalTax += parseFloat(invoiceInfo.invoice_items[i]?.tax_amount || 0);

        totalDiscountAmt +=
        invoiceInfo.invoice_items[i]?.discount_amount || 0;
        overallTotal += parseFloat(invoiceInfo.invoice_items[i]?.total || 0); }
        %>
        <tr>
          <td
            colspan="3"
            class="td-bold align-center border-top border-right"
            style="padding: 7px; background-color: #f1f6fa"
          >
            Total
          </td>
          <td
            class="align-center border-top border-right td-bold"
            style="background-color: #f1f6fa"
          >
            <%= totalQty %>
          </td>
          <td
            class="align-center border-top border-right td-bold"
            style="background-color: #f1f6fa"
          >
            <%= totalRate %>
          </td>
          <td class="border-top border-right" style="background-color: #f1f6fa">&nbsp;</td>
          <td
            class="align-center border-top border-right td-bold"
            style="background-color: #f1f6fa"
          >
            <%= totalTaxable %>
          </td>
          <td
            class="align-center border-top border-right td-bold"
            style="background-color: #f1f6fa"
          >
            -
          </td>
          <td
            class="align-center border-top border-right td-bold"
            style="background-color: #f1f6fa"
          >
            <%= totalTax %>
          </td>
          <td class="border-top border-right" style="background-color: #f1f6fa">
            &nbsp;
          </td>
          <td
            class="align-center border-top border-right td-bold"
            style="background-color: #f1f6fa"
          >
            <%= totalDiscountAmt %>
          </td>
          <td class="align-center border-top td-bold" style="background-color: #f1f6fa"><%= invoiceInfo?.total_amount_after_tax %></td>
        </tr>
      </table>
    </div>
    <br />
    <div>
      <table cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td
            class="border-top border-bottom border-left border-right"
            style="padding: 0; margin: 0"
          >
            <table cellspacing="0" cellpadding="0" width="100%">
              <tr>
                <td style="padding: 0; margin: 0">
                  <table cellspacing="0" cellpadding="0" width="100%">
                    <tr>
                      <td colspan="2" class="td-bold align-center">
                        Total in words
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" class="align-center space border-bottom">
                        (<%= invoiceInfo?.amountInWords %>)
                      </td>
                    </tr>

                    <tr>
                      <td
                        colspan="2"
                        class="border-bottom td-bold align-center space"
                      >
                        Bank Details
                      </td>
                    </tr>
                    <tr>
                      <td class="space">
                        <span class="td-bold">Bank name: </span>
                        <%= contactInfo?.bank_name %>
                      </td>
                      <td class="space">
                        <span class="td-bold">Branch: </span>
                        <%= contactInfo?.bank_branch_name %>
                      </td>
                    </tr>
                    <tr>
                      <td class="space">
                        <span class="td-bold">Account no: </span>
                        <%= contactInfo?.bank_account_no %>
                      </td>
                      <td class="space">
                        <span class="td-bold">IFSC code: </span>
                        <%= contactInfo?.bank_ifsc_code %>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
          <td
            class="border-top border-bottom border-right"
            style="padding: 0; margin: 0"
          >
            <table cellspacing="0" cellpadding="0" width="100%">
              <tr>
                <td class="td-bold space">Total Tax :</td>
                <td class="align-right td-bold space">
                  &#8377; <%= totalTax %>
                </td>
              </tr>
              <tr>
                <td class="td-bold space">Total Amount :</td>
                <td class="align-right td-bold space">
                  &#8377; <%= invoiceInfo?.total_amount_after_tax %>
                </td>
              </tr>

              <tr>
                <td colspan="2" class="txt-right space border-bottom">
                  (E & O.E.)
                </td>
              </tr>
              <tr>
                <td colspan="2">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="2" class="space td-bold">
                  Certified that the particulars given above are true and
                  correct.
                </td>
              </tr>
              <tr>
                <td colspan="2" class="space">
                  For : <%= invoiceInfo?.billing_company_name %>
                </td>
              </tr>
              <tr>
                <td
                  colspan="2"
                  style="border-bottom: none; height: 60px; text-align: center"
                ></td>
              </tr>
            </table>
            <table cellspacing="0" cellpadding="0" width="100%">
              <tr>
                <td colspan="2" class="td-bold text-center space">
                  <img
                    src="<%= server_path %>/images/signature/signature.jpeg"
                    width="80px"
                    height="80px"
                    alt="Signature image"
                  />
                </td>
              </tr>
              <tr>
                <td colspan="2" class="td-bold text-center space">
                  <hr width="20%" />
                  Authorised Signatory
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
